@import "tailwindcss";

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: infinite-scroll 23s linear infinite;
}

.mask-gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes infinite-scroll-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-infinite-scroll-reverse {
  display: flex;
  width: max-content;
  animation: infinite-scroll-reverse 30s linear infinite;
}

.animate-infinite-scroll-reverse:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  .animate-infinite-scroll,
  .animate-infinite-scroll-reverse {
    animation: none;
  }
}
